{% extends 'base.html' %}
{% load static %}
{% block lists %}
Корзина
{% endblock %}
{% block content %}
<div>
  <div class="container">
    <div class="row">
      {% for cart_book in cart_books %}
      <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex">
        <div class="card" style="width: 18rem">
          <img src="{% if cart_book.book.image %} {{ cart_book.book.image.url }} {% else %} {% static 'img/default_img.jpg' %} {% endif %}" />
          <div class="card-body">
            <p class="card-text">Название книги: {{ cart_book.book.name }}</p>
            <p class="card-text">Количество: {{ cart_book.quantity }}</p>
            <button type="button" class="btn btn-danger btn-remove-cart" data-cart-book-id="{{ cart_book.id }}">Удалить</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% if cart_book %}
  <div class="container mt-4">
    <h4>Оформление заказа</h4>
    <form method="post" action="{% url 'order:create_order' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="address">Адрес доставки:</label>
        <input type="text" class="form-control" id="address" name="address" required>
        <label for="comment">Адрес доставки:</label>
        <div class="form-floating">
          <textarea class="form-control" id="comment" name="comment" style="height: 100px"></textarea>
          <label for="comment">Comments</label>
        </div>      </div>
      <button type="submit" class="btn btn-primary mt-3">Заказать</button>
    </form>
  </div>
  {% else %}
  <h2>Корзина пуста</h2>
  {% endif %}
</div>
{% endblock %}
