{% extends 'base.html' %}
{% load static %}
{% block lists %}
  Главная страница
{% endblock %}
{% block content %}
<div>
    <h1>{{ book.name }}</h1>
</div>

<div>
  <h3>Автор: {{ book.author }}</h3>
  <h3>Жанр:
    {% for genre in genres %}
      {{ genre }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </h3>

  <p>Описание: {{ book.description }}</p>
  <p>Цена: {{ book.price }} руб</p>
</div>

{% if user.is_authenticated and user == book.seller %}
  <div class="btn-group" role="group">
    <a href="{% url 'books:delete_book' book.id %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'books:edit_book' book.id %}" class="btn btn-warning">Изменить</a>
  </div>
{% endif %}

  <div class="card mt-5 mb-5">
    <div class="card-header">
        Комментарии
    </div>
    {% for comment in comments %}
      <div class="card-body">
        <div class="d-flex justify-content-between border-top">
          <div>
            <h5 class="card-title">{{comment}}</h5>
          </div>
          <div class="btn-group" style="height:40px" role="group">
            <button class="btn btn-danger" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Удалить</button>
            <a href="{% url 'comments:edit_comment' comment.id book.id %}" class="btn btn-warning">Изменить</a>
          </div>
        </div>
        <p class="card-text">{{ comment.text }}</p>
      </div>

      <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Удалить комментарий?
            </div>
            <div class="modal-footer">
              <a href="{% url 'comments:delete_comment' comment.id book.id %}" class="btn btn-danger">Удалить</a>
            </div>
          </div>
        </div>
      </div>
     
    {% endfor %}

    <div class="container mt-2 mb-2" style="width: 75%">
      <form method="POST" action="{% url 'comments:add_comment' book.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>

  </div>

{% endblock %}