{% extends 'base.html' %}
{% load static %}
{% block lists %}
  Главная страница
{% endblock %}
{% block content %}

{% if books %}
  <div class="container">
    <div class="row">
      {% for book in books %}
        <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex">
          <div class="card" style="width: 100%;">
            <img src="{% if book.image %} {{ book.image.url }} {% else %} {% static 'img/default_img.jpg' %} {% endif %}">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">{{ book.name }}</h5>
                {% if user.is_authenticated %}
                  <button type="button" class="btn-cart btn border-0 text-primary" data-book-id="{{ book.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                  </button>
                {% endif %}    
              </div>
              <p class="card-text">{{ book.author }}</p>
              <p class="card-text">{{ book.price }} ₽</p>
              <p class="card-text">{{ book.quantity }} шт</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'books:detail_book' book.id %}" class="btn btn-primary">Посмотреть</a>
                <div class="rating-stars" data-avg-rating="{{ book.average_rating }}">
                  {% for star in "12345" %}
                    <span class="star" data-book-id="{{ book.id }}" style="cursor: pointer;" data-score="{{ star }}">&#9733;</span>
                  {% endfor %}
                  <p class="text-warning">Рейтинг: <span id="average-rating-{{book.id}}">{{ book.average_rating }}</span></p>
                </div>                
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if books.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ books.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
          </li>
        {% endif %}

        {% for page_num in books.paginator.page_range %}
          {% if books.number == page_num %}
            <li class="page-item active">
              <span class="page-link">{{ page_num }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if books.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ books.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% else %}
  <h1>Товара нет</h1>
{% endif %}

{% endblock %}
